@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.header-frame {
    background-color: #ffffffd9 !important;
    backdrop-filter: blur(8px) !important;
}

.cars-flex {
    display: flex;
    padding-top: 80px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100%;
    overflow-y: auto;
}

.cars-flex div {
    height: 235px;
    width: 20%;
    cursor: pointer;
    position: relative;
}

.cars-flex div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cars-flex div span {
    opacity: 0;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 4px;
    width: 100%;
    text-align: center;
    display: block;
    position: absolute;
    bottom: 10px;
    color: white;
    font-size: 18pt;
    transition: 0.2s ease;
}

.cars-flex div:hover span {
    opacity: 1;
    bottom: 25px;
}