#ui-logo {
    position: absolute;
    z-index: -1;
    height: 500px;
    top: 15px;
    left: -100px;
    margin-bottom: -45;
    animation-name: ui-logo-enter;
    animation-timing-function: ease-out;
    animation-duration: 0.5s;
}

@keyframes ui-logo-enter {
    0% { opacity: 0; left: -110; }
    100% { opacity: 1; left: -100; }
}

.home-block {
    position: absolute;
    width: 100%;
    top: 455px;
    background-color: white;
}

.home-block .hb-container {
    width: 100%;
}

.home-block .hb-left {
    float: left;
    width: 60%;
    height: calc(100vh - 445px);
}

.home-block .hbl-titleimg {
    width: 50%;
    max-width: 800px;
    min-width: 400px;
    margin: 30px 0px 20px 0px;
    display: block;
}

.home-block .hbl-img {
    margin: 20px 0px 20px 0px;
    width: 70%;
    max-width: 500px;
    display: block;
    cursor: pointer;
    position: relative;
    top: 0px;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-property: top;
}

.home-block .hbl-img:hover {
    top: -5px;
}

.home-block .hb-left p {
    font-family: 'Mukta', sans-serif;
    padding: 0px 30px 0px 30px;
}

.home-block .hb-right {
    float: left;
    width: 40%;
    background-image: linear-gradient(to top, #ffffff, #f7f7f7, #eeeeee, #e6e6e6, #dedede);
}

.welcome-text {
    color: white;
    font-family: 'Coolvetica', sans-serif;
    font-size: 85px;
    position: relative;
    top: 130px;
    left: 35%;
    cursor: default;
    width: min-content;
}

.welcome-text .wt-span {
    animation-name: wt-enter;
    animation-duration: 1s;
    animation-timing-function: ease;
}

@keyframes wt-enter {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.welcome-text .wt-separator {
    height: 1px;
    width: 330.5px;
    background-color: white;

    animation-name: wt-sep-enter;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(.31,.32,.31,.95);
}

@keyframes wt-sep-enter {
    0% { width: 0px; }
    100% { width: 330.5px; }
}

.welcome-text .wt-subtitle {
    font-size: 32px;
    position: relative;
    width: max-content;
    margin-top: 10px;
    opacity: 0;

    animation-name: wt-subtitle-enter;
    animation-duration: 1s;
    animation-delay: 0.7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes wt-subtitle-enter {
    0% { opacity: 0; margin-top: 0px; }
    70% { opacity: 1; }
    100% { margin-top: 10px; opacity: 1; }
}

.home-socialmedia {
    display: inline;
    opacity: 0;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Coolvetica', sans-serif;
    font-size: 18px;
    color: white;
    background-color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    cursor: pointer;

    animation-name: wt-sm-enter;
    animation-duration: 1s;
    animation-delay: unset;
    animation-fill-mode: forwards;
    animation-timing-function: ease;

    transition: ease 0.5s border-radius;
}

@keyframes wt-sm-enter {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.home-socialmedia i {
    margin-right: 6px;
}

.home-socialmedia a {
    text-decoration: none;
    cursor: pointer;
}

.home-socialmedia:hover {
    border-radius: 8px;
}

@media only screen and (max-width: 1405px) {
    .home-block .hb-right {
        float: none;
        margin-top: 50px;
        width: 100%;
        background-image: unset;
        height: unset;
    }

    .home-block .hb-left {
        float: none;
        height: unset;
        width: 100%;
    }

    .home-block .hb-left p {
        font-size: 30px;
    }

    #ui-logo {
        visibility: hidden;
        width: 0px;
    }

    .welcome-text {
        width: 100%;
        left: 0px;
        top: 170px;
    }

    .welcome-text .wt-subtitle {
        max-width: 90%;
    }
}

@media only screen and (max-width: 720px) {
    .home-socialmedia {
        margin: 0px;
    }
}

@media only screen and (max-width: 400px) {
    .welcome-text .wt-span {
        font-size: 56px;
    }
}