@import url('https://fonts.googleapis.com/css?family=Lato|Mukta|Roboto|Rubik|Ubuntu&display=swap');
/*Fonts: Lato, Mukta, Roboto, Rubik, Ubuntu*/

@font-face {
    font-family: 'Coolvetica';
    src: url('../assets/fonts/coolvetica_rg-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/*Font: Coolvetica*/

html, body {
    font-family: 'Roboto', sans-serif;
}

.ui-logo {
    border-radius: 100%;
    box-shadow: 0px 0px 30px 4px rgba(0,0,0,0.75);
}

/* HEADER HERE */

.header-frame {
    background-color: white;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.header-frame .header-logo .header-title {
    font-family: 'Coolvetica', sans-serif;
    font-size: 34px;
    color: #2f3640;
    height: 100%;
    width: max-content;
    margin-left: 70;
    cursor: default;
    position: relative;
    top: 5;

    animation-name: header-text;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

@keyframes header-text {
    0% { margin-left: 75px; }
    100% { margin-left: 70px; }
}


.header-frame .header-logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../assets/logos/default.jpg);
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-left: 60;
    position: relative;
    cursor: pointer;
    top: 15px;
    font-family: 'Coolvetica', sans-serif;
    font-size: 34px;
    color: #2f3640;

    transition: 0.5s ease box-shadow;

    animation-name: enter-anim;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}

@keyframes enter-anim {
    0% { opacity: 0; margin-left: 53; }
    100% { opacity: 1; margin-left: 60; }
}

.header-frame .header-logo:hover {
    box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.36);
}

.header-frame .header-right {
    float: right;
    position: relative;
    top: -50;
    padding: 27;
}

.header-frame .header-right a {
    float: right;
    font-size: 21px;
    font-family: 'Coolvetica', sans-serif;
    color: #2f3640;
    margin-left: 60;
    margin-right: 60;
    text-decoration: none;
    border-bottom: rgba(47, 54, 64, 0) 1px solid;
    transition: ease 0.5s border-bottom;
}

.header-frame .header-right a:hover {
    border-bottom: rgba(47, 54, 64, 1) 1px solid;
}

.header-frame .header-right i {
    float: right;
    visibility: hidden;
    font-size: 30;
    color: #2f3640;
    cursor: pointer;
}

.mobilemenu {
    visibility: hidden;
    background-color: #2f3640;
    position: absolute;
    width: 100%;
    height: 300;
    border-radius: 0px 0px 10px 10px;
    opacity: 0.8;
    z-index: 1000;
    right: 0;
    top: 0;
    font-family: 'Coolvetica', sans-serif;
}

.mobilemenu .mm-title {
    color: white;
    margin-left: 30;
    position: relative;
    top: 26;
    font-size: 24px;
}

.mobilemenu i {
    color: white;
    position: absolute;
    right: 30;
    font-size: 30;
    cursor: pointer;
}

.mobilemenu a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 21;
    margin-left: 30;
    margin-top: 10;
}

@media only screen and (max-width: 1220px) {
    .header-frame .header-right a {
        margin-right: 0;
    }
}

@media only screen and (max-width: 980px) {
    .header-frame .header-logo .header-title {
        visibility: hidden;
    }
}

@media only screen and (max-width: 770px) {
    .header-frame .header-right a {
        margin-left: 30;
    }
}

@media only screen and (max-width: 660px) {
    .header-frame .header-right a {
        visibility: hidden;
    }

    .header-frame .header-right i {
        visibility: visible;
    }

    .header-frame .header-logo {
        margin-left: 20;
    }

    @keyframes enter-anim {
        0% { opacity: 0; margin-left: 35; }
        100% { opacity: 1; margin-left: 20; }
    }
}

/* NAVBAR HERE */

.navbar {
    width: 400;
    height: calc(100% - 80px);
    background: linear-gradient(90deg, rgba(226,226,226,1) 0%, rgba(235,235,235,1) 44%, rgba(238,238,238,1) 100%);
    position: absolute;
    top: 80;
    left: 0;
    border-radius: 0px 10px 0px 0px;
}

.navbar .nb-item {
    display: block;
    text-align: left;
    height: 40;
    padding-left: 45;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
    background-color: none;

    transition: ease 0.3s background-color;
}

.navbar .nb-item img {
    width: 30;
    position: relative;
    top: -76;
    left: -35;
}

.navbar .nb-item .nbi-up {
    position: relative;
    top: -0;
}

.navbar .nb-item:hover {
    background-color: #dbdbdb;
}

.navbar .nb-item span {
    margin-right: 30;
    font-family: 'Mukta', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    color: gray;
    display: block;
    text-align: right;
    position: relative;
    top: -38;
}

.navbar-display {
    height: calc(100% - 80px);
    width: calc(100% - 400px);
    position: absolute;
    right: 0;
    bottom: 0;
}

.navbar-display .nd-item {
    overflow-y: auto;
    height: calc(100% - 100px);
    width: calc(100% - 100px);
    position: absolute;
    right: 0;
    bottom: 0;
    visibility: hidden;
    padding: 50;
}

.navbar-display .nd-title {
    font-family: 'Coolvetica', sans-serif;
    font-size: 50px;
}

.navbar-display img {
    cursor: pointer;
    margin-top: 30;
    margin-right: 40;
}

.navbar-display a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

@media only screen and (max-width: 770px) {
    .navbar {
        position: relative;
        width: 100%;
        border-radius: 10px;
        height: fit-content;
        margin-bottom: 50;
        z-index: 1;
    }

    .navbar-display {
        position: unset;
        height: 500px;
        width: 100%;
    }

    .navbar-display .nd-item {
        overflow-y: hidden;
        height: unset;
        left: 0;
        right: unset;
        bottom: unset;
    }
}