header {
    top: 0px !important;
    opacity: 1 !important;
    animation: none !important;
}

header .usable-wrapper h1.anim {
    opacity: 1 !important;
    animation: none !important;
}

header .usable-wrapper .right-panel div.selected {
    opacity: 1 !important;
    animation: none !important;
}

.navbar {
    position: absolute;
    top: 60px;
    left: 0px;
    width: 400;
    height: calc(100% - 60px);
    background: #ffffff0f;
}

.navbar div {
    display: block;
    position: relative;
    text-align: left;
    height: 40px;
    padding-left: 50px;
    font-family: 'SFProDisplay', sans-serif;
    font-weight: bold;
    line-height: 40px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;

    transition: ease-out .3s background-color;
}

.navbar h4 {
    font-family: 'akira_expanded', sans-serif;
    margin: 0px 0px 2px 10px;
    padding-top: 20px;
    opacity: .7;
    letter-spacing: 2px;
    user-select: none;
}

.navbar div img {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 30px;
    transition: .2s ease-out;
}

.navbar div:hover {
    background-color: #292929;
}

.navbar div:hover img {
    transform: rotate(-3deg);
}

.navbar div:active {
    background-color: #1d1d1d; 
}

.navbar div:active img {
    transform: rotate(-3deg) scale(.8);
}

.navbar div span {
    position: absolute;
    top: 0px;
    right: 20px;
    font-family: 'SFProDisplay', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    color: gray;
    font-style: italic;
}

.navbar-display {
    height: calc(100% - 60px);
    width: calc(100% - 400px);
    position: absolute;
    right: 0px;
    top: 60px;
}

.navbar-display div {
    position: absolute;
    right: 0px;
    bottom: 0px;
    visibility: hidden;
    padding: 50px;
    overflow-y: auto;
    height: calc(100% - 100px);
    width: calc(100% - 100px);
}

.navbar-display h1 {
    font-family: 'SFProDisplay', sans-serif;
    font-size: 32pt;
    margin: 0px;
}

.navbar-display img {
    cursor: pointer;
    margin-top: 30px;
    margin-right: 40px;
}

.navbar-display a {
    text-decoration: underline;
    color: white;
    border-radius: 2px;
}

.navbar-display a:hover {
    background-color: white;
    text-decoration: none;
    color: black;
}

.navbar-display a:active {
    background-color: rgb(194, 194, 194);
}

.navbar-display #Select {
    visibility: visible;
    height: calc(100% - 130px);
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 130px 0px 0px 0px;
}

.navbar-display #Select h1, .navbar-display #Select p {
    text-align: center;
    margin: 0px;
}

@media only screen and (max-width: 770px) {
    .navbar {
        position: relative;
        width: 100%;
        height: fit-content;
        margin-bottom: 50px;
        z-index: 1;
    }

    .navbar-display {
        position: unset;
        height: 500px;
        width: 100%;
    }

    .navbar-display div, .navbar-display #Select {
        overflow-y: hidden;
        height: unset;
        left: 0px;
        right: unset;
        bottom: unset;
    }
}